<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.saltys.quest"
	version 	= "1.0.0">

	<name>A Salty's Quest</name>

	<description>
		A location-based Android app built for the Maritiem Museum in Rotterdam.
	</description>

	<author href="http://saltysquest.mvpoppel.nl"
		email="vpoppel.m@gmail.com">
		Mark van Poppel
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
